<section class="Form my-4 mx-5" >
    <div class="row g-0">
        <div class="col-lg-5">
            <img src="../../../assets/logo.png" class="img-fluid" alt="" >
        </div>
        
        <div class="col-lg-7 px-5 pt-5">
            <br>
            <br>
            <br>
            <h2>Inicie sesión en su cuenta</h2>

            <form [formGroup]="login" (ngSubmit)="enviar(login.value)">
                <div class="form-row">
                    <div class="col-lg-7">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text my-3 p-3" id="basic-addon1"> <i class="material-icons">account_circle</i></span>
                            </div>
                            
                            <input #user_email formControlName="user" class="form-control my-3 p-3" data-val="true" data-val-required="El campo Correo electronico es obligatorio." id="Email" name="Email" placeholder="Correo" required="" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text my-3 p-3" id="basic-addon1"><i class="material-icons">vpn_key</i></span>
                            </div>
                            
                            <input #psw formControlName="psw" class="form-control my-3 p-3" data-val="true" data-val-required="El campo Contraseña es obligatorio." id="Password" name="Password" placeholder="*******" required="" type="password" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <button type="submit" class="btn1">Iniciar sesión</button>
                    </div>
                </div>
                <!-- <a href="#">Recuperar contraseña</a> -->
                
            </form>
            
        </div>
    </div>
</section>