USE GAS_CNU
GO
/****** Object:  StoredProcedure [dbo].[p_DeleteARTICULO]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_DeleteARTICULO]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v11.0.35
*
* Procedure description: This procedure is used for 
*                        deleting records from table 
*                        [DBMATSPEN].[dbo].[ARTICULO]
* Date:   30/10/2021 
* Author: desarrollador4
*
* Changes
* Date        Modified By            Comments
************************************************************
* 30/10/2021  desarrollador4     Initial version
************************************************************/
(
    @ARTICULO varchar(20)
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- start transaction
	BEGIN TRANSACTION

    -- delete record using the specified criteria, 1 record deletion is expected
    DELETE FROM [dbo].[ARTICULO]
    WHERE  ARTICULO = @ARTICULO

    -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

    -- check for errors
	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to delete record. See previous message for details.', 16, 1) 
		RETURN @error
    END
    -- check for rows updated
    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
		IF @rowcount = 0
            RAISERROR('Warning. No records found for the specified criteria, while just 1 was expected.', 10, 1) 
		ELSE
            RAISERROR('Critical error. More than 1 record found for the specified criteria, while just 1 was expected.', 16, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION
    RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ARTICULO_add]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ARTICULO_add]
(
    @ARTICULO varchar(20) = NULL,    
    @DESCRIPCION varchar(254) = NULL,
    @PRECIO_BASE_LOCAL DECIMAL(28,8) = NULL,
    @TIPO varchar(1) = NULL,
    @idout varchar(20) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT , @id INT
    DECLARE @DescTipo NVARCHAR(3)

    -- start transaction
	BEGIN TRANSACTION
    -- check if the specified record already exists, if yes, update it, if no, create it
    
    IF @TIPO='T' BEGIN SET @DescTipo ='TER' END ELSE BEGIN SET @DescTipo='SRV'END
    
    IF NOT EXISTS 
    (   
         SELECT * 
         FROM [dbo].[ARTICULO]
         WHERE  ARTICULO = @ARTICULO
    	   
    )
    BEGIN 
    	--setiamos formato articulo srv: servicio o ter: terminado 
    	SELECT @ARTICULO='PRD-'+@DescTipo+'-'+FORMAT(COUNT(*)+1,'00000000') FROM [dbo].[Articulo]
    	
         -- insert new record
         INSERT INTO [dbo].[ARTICULO]
         (
             ARTICULO,
             DESCRIPCION,
             PRECIO_BASE_LOCAL, 
             TIPO
         )
         VALUES 
         (
             @ARTICULO,
             @DESCRIPCION,
             @PRECIO_BASE_LOCAL, 
             @TIPO
         )
    END 
    ELSE
    BEGIN
         -- update existing record
         UPDATE [dbo].[ARTICULO]
         SET ARTICULO = @ARTICULO,
             DESCRIPCION = @DESCRIPCION,
             PRECIO_BASE_LOCAL = @PRECIO_BASE_LOCAL ,
             TIPO = @TIPO
         WHERE  ARTICULO = @ARTICULO
    END

    -- capture operation completion code and number of records affected
	select @error = @@ERROR,   
	       @rowcount = @@ROWCOUNT,
	       @id = SCOPE_IDENTITY()
	       
	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to update or insert new record. See previous message for details.', 16, 1) 
		RETURN 0
    END

    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. More than 1 record found for the specified criteria, just 1 is expected.', 16, 1) 
		RETURN 0
    END 

    -- commit changes and return 0 code indicating successful completion
    
    COMMIT TRANSACTION
		SELECT TOP 1 @idout=articulo FROM [dbo].[ARTICULO]  WHERE tipo IN(@TIPO) ORDER BY (ARTICULO)DESC
	RETURN 1
END






 

 
GO
/****** Object:  StoredProcedure [dbo].[sp_ARTICULO_Get]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ARTICULO_Get]
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- search and return records
    SELECT ARTICULO,
           DESCRIPCION,
           PRECIO_BASE_LOCAL AS Precio,
           
           TIPO
    FROM [dbo].[ARTICULO]
    

     -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

	IF @error != 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Unable to retrieve records. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount = 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. No records found for the specified criteria.', 16, 1) 
		RETURN 1
    END 
    IF @rowcount > 1 
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Warning. More than 1 record found for the specified criteria, while just 1 is expected.', 10, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
	RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ARTICULO_Get_Tipo]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ARTICULO_Get_Tipo]
(
	@Tipo VARCHAR(1)
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- search and return records
    SELECT ARTICULO,
           DESCRIPCION,
           PRECIO_BASE_LOCAL AS Precio,
              
           TIPO
    FROM [dbo].[ARTICULO] WHERE TIPO IN(@Tipo)
    

     -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

	IF @error != 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Unable to retrieve records. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount = 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. No records found for the specified criteria.', 16, 1) 
		RETURN 1
    END 
    IF @rowcount > 1 
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Warning. More than 1 record found for the specified criteria, while just 1 is expected.', 10, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
	RETURN 0
END


 


 
--EXec sp_ARTICULO_Get_Tipo  'V'
--EXec sp_ARTICULO_Get


-- SELECT * FROM ARTICULO AS a
GO
/****** Object:  StoredProcedure [dbo].[sp_cliente_add]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cliente_add]
(		  --Datos Cliente
		   @id_cliente int,
		   @codigo varchar(100),
		   @razon_social varchar(150),
		   @ruc varchar(50),
		   @nombre varchar(150),
		   @direccion varchar(300),
		   @cedula varchar(20),
		   @correo varchar(150), 
		   @telefono1 varchar(150),
		   @telefono2 varchar(150),
		   @telefono3 varchar(150),		   
		   @id_tipo_cliente int,
		   @id_tipo_contribuyente int,
		   @municipioId int,
		   @departamentoId int,
		   @paisId int, 		   
		   --Representante legal
		   @nombre_rep_legal varchar(150),
		   @apellido_rep_legal varchar(150),
		   @cedula_rep_legal varchar(150),
		   @municipioId_rep_legal int,
		   @departamentoId_rep_legal int,
		   @paisId_rep_legal int,
		   @direccion_rep_legal varchar(300),		   
		   @correo_rep_legal varchar(150), 
		   @telefono1_rep_legal varchar(150),
		   @telefono2_rep_legal varchar(150),
		   --Representante pago
		   @nombre_rep_pago varchar(150),
		   @apellido_rep_pago varchar(150),
		   @cedula_rep_pago varchar(150),
		   @municipioId_rep_pago int,
		   @departamentoId_rep_pago int,
		   @paisId_rep_pago int,
		   @direccion_rep_pago varchar(300),		   
		   @correo_rep_pago varchar(150), 
		   @telefono1_rep_pago varchar(150),
		   @telefono2_rep_pago varchar(150),	   
		            
		   @return_value int output	          
)           
AS
BEGIN

SET NOCOUNT OFF

declare @cod_mat varchar(50), @count_mat int; 
--Necesitamos el count de los registros por sucursal
set @cod_mat = '000-0000000';

BEGIN TRANSACTION
BEGIN TRY 

--Natural:7
--Empresa:6
--@id_estado:5,
--representante_pago:2
--representante_legal:1


	if @telefono2 is null
	begin
		set	@telefono2='0000'
	end;
	if @telefono3 is null
	begin
		set	@telefono3='0000'
	end;

	

	
		--Verificar ruc
		
		if @ruc is null
		begin
			set @ruc = '0000';			
		end;
		if @cedula is null
		begin
			set @cedula = '0000'
		end;
		set @count_mat = (select max(id_cliente) from Cliente)+1
		set @cod_mat = CONCAT('MAT-',(select RIGHT('0000000' + Ltrim(Rtrim(( @count_mat ))),7)))

			
			
			insert into Cliente
			(
				codigo, razon_social, ruc, 
				nombre, direccion, cedula, correo,
				telefono1, telefono2, telefono3, 
				id_estado, id_tipo_cliente, id_tipo_contribuyente,
				municipioId, departamentoId, paisId
			)
			values
			(
				@cod_mat, @razon_social, @ruc, 
				@nombre, @direccion, @cedula, @correo, 
				@telefono1, @telefono2, @telefono3, 
				5, @id_tipo_cliente, @id_tipo_contribuyente, 
				@municipioId, @departamentoId, @paisId
			)
	





	
IF @@ROWCOUNT = 0 /*SI NO HUBO CAMBIO O NO SE INSERTO*/
BEGIN
	ROLLBACK TRANSACTION
    return
END
ELSE /**CASO CONTRARIO (GUARDO)**/
BEGIN
	 COMMIT TRANSACTION
	 
	 SET @return_value = SCOPE_IDENTITY()
	 if @return_value >0
	 begin

		--Insert cliente contacto
		--Representante legal
		if @nombre_rep_legal is not null
		begin
			if @telefono1_rep_legal is null
			begin
				set @telefono1_rep_legal = '0000'
			end
			if @telefono2_rep_legal is null
			begin
				set @telefono2_rep_legal = '0000'
			end
			INSERT INTO [dbo].[Cliente_contacto]
           (
			nombres, apellidos, 
			direccion, correo, 
			telefono1, telefono2, 
			paisId, departamentoId, municipioId, 
			cedula, clienteId, id_tipo_contacto, estadoId
		   )
			VALUES
           (
			@nombre_rep_legal, @apellido_rep_legal, 
			@direccion_rep_legal, @correo_rep_legal, 
			@telefono1_rep_legal, @telefono2_rep_legal,
			@paisId_rep_legal, @departamentoId_rep_legal, @municipioId_rep_legal, 
			@cedula_rep_legal, @return_value, 1,5
           )
		end;

		--Representante de pago
		if @nombre_rep_pago is not null
		begin
			if @telefono1_rep_pago is null
			begin
				set @telefono1_rep_pago = '0000'
			end
			if @telefono2_rep_pago is null
			begin
				set @telefono2_rep_pago = '0000'
			end
			INSERT INTO [dbo].[Cliente_contacto]
           (
			nombres, apellidos, 
			direccion, correo, 
			telefono1, telefono2, 
			paisId, departamentoId, municipioId, 
			cedula, clienteId, id_tipo_contacto, estadoId
		   )
			VALUES
           (
			@nombre_rep_pago, @apellido_rep_pago, 
			@direccion_rep_pago, @correo_rep_pago, 
			@telefono1_rep_pago, @telefono2_rep_pago,
			@paisId_rep_pago, @departamentoId_rep_pago, @municipioId_rep_pago, 
			@cedula_rep_pago, @return_value, 1,5
           )
		end;
				
		RETURN @return_value;

	 end;
     
	
END


END TRY
BEGIN CATCH
     DECLARE @Error_Message varchar(150)
     SET @Error_Message = ERROR_NUMBER() + ' ' + ERROR_MESSAGE()
     ROLLBACK TRANSACTION
     RAISERROR(@Error_Message,16,1)
END CATCH

END











GO
/****** Object:  StoredProcedure [dbo].[sp_cliente_get_w]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_cliente_get_w]
@id_cliente int
as
BEGIN
select /*CLIENTE*/
	   C.id_cliente,C.razon_social,
	   C.nombre as nombre_cliente,C.ruc,C.direccion as direccion_cliente,
	   C.telefono1 as telefono1_cliente,C.telefono2 as telefono2_cliente,C.telefono3 as telefono3_cliente,
	   p.nombre as Pais,
	   d.nombre as Departamento,
	   m.nombre as Municipio,
	   (select  sc.descripcion from Cliente cl inner join Sub_Tipo_Catalogo sc on c.id_tipo_cliente = sc.id where cl.id_cliente = c.id_cliente) as tipo_cliente,
	   (select  sc.descripcion from Cliente cl inner join Sub_Tipo_Catalogo sc on c.id_tipo_contribuyente = sc.id where cl.id_cliente = c.id_cliente) as tipo_contribuyente,
	   /*Contacto*/
	   Con.id_contacto_cliente as ContactoId,
	   Con.nombres,Con.apellidos,
	   Con.cedula,Con.direccion,
	   Con.correo,Con.telefono1,
	   Con.telefono2,
	   p.nombre as paisCon,
	   d.nombre as departamentoCon,
	   m.nombre as municipioCon,
	   sc.descripcion as tipo_contacto

from Cliente as C inner join Cliente_contacto as Con on
Con.clienteId = C.id_cliente inner join Pais p on p.id = C.paisId
inner join Departamento d on d.id = C.departamentoId
inner join Municipio m on m.id = C.municipioId
inner join Sub_Tipo_Catalogo sc on con.id_tipo_contacto = sc.id 
where C.id_cliente = @id_cliente
END

GO
/****** Object:  StoredProcedure [dbo].[sp_cliente_get_w_edit]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_cliente_get_w_edit]
@id_cliente int
as
BEGIN
select /*CLIENTE*/
	   C.id_cliente as id_cliente, C.codigo as codigo, C.razon_social as razon_social, C.ruc as ruc,
	   C.nombre as nombre_cliente,C.direccion as direccion_cliente, C.cedula as cedula_cliente, C.correo as correo_cliente,
	   C.telefono1 as telefono1_cliente,C.telefono2 as telefono2_cliente,C.telefono3 as telefono3_cliente,
	   c.id_tipo_cliente as tipo_cliente,
	   c.id_tipo_contribuyente as tipo_contribuyente,
	   c.municipioId,
	   c.departamentoId,
	   c.paisId,
	   /*Contacto*/
	   Con.id_contacto_cliente as ContactoId,
	   Con.nombres,Con.apellidos,
	   Con.cedula,
	   con.municipioId as municipioCon,  
	   con.departamentoId as departamentoCon,
	   con.paisId as paisCon,
	   Con.direccion,
	   Con.correo,Con.telefono1,
	   Con.telefono2,
	   con.id_tipo_contacto as tipo_contacto

from Cliente as C inner join Cliente_contacto as Con on
Con.clienteId = C.id_cliente
where C.id_cliente = @id_cliente
END

GO
/****** Object:  StoredProcedure [dbo].[sp_cliente_update]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_cliente_update]
/***CAMPOS CLIENTE***/
--Datos Cliente
		   @id_cliente int,		  
		   @razon_social varchar(150),
		   @ruc varchar(50),
		   @nombre varchar(150),
		   @direccion varchar(300),
		   @cedula varchar(20),
		   @correo varchar(150), 
		   @telefono1 varchar(150),
		   @telefono2 varchar(150),
		   @telefono3 varchar(150),		   
		   @id_tipo_cliente int,
		   @id_tipo_contribuyente int,
		   @municipioId int,
		   @departamentoId int,
		   @paisId int, 		   
		   --Representante legal
		   @id_rep_legal int,
		   @nombre_rep_legal varchar(150),
		   @apellido_rep_legal varchar(150),
		   @cedula_rep_legal varchar(150),
		   @municipioId_rep_legal int,
		   @departamentoId_rep_legal int,
		   @paisId_rep_legal int,
		   @direccion_rep_legal varchar(300),		   
		   @correo_rep_legal varchar(150), 
		   @telefono1_rep_legal varchar(150),
		   @telefono2_rep_legal varchar(150),
		   --Representante pago
		   @id_rep_pago int,
		   @nombre_rep_pago varchar(150),
		   @apellido_rep_pago varchar(150),
		   @cedula_rep_pago varchar(150),
		   @municipioId_rep_pago int,
		   @departamentoId_rep_pago int,
		   @paisId_rep_pago int,
		   @direccion_rep_pago varchar(300),		   
		   @correo_rep_pago varchar(150), 
		   @telefono1_rep_pago varchar(150),
		   @telefono2_rep_pago varchar(150),		            
		   @return_value int output	
AS
BEGIN
SET NOCOUNT OFF
BEGIN TRANSACTION
BEGIN TRY 


update Cliente
set razon_social = @razon_social,
	nombre = @nombre, ruc= @ruc, cedula = @cedula, correo = @correo, 
	direccion = @direccion, telefono1 = @telefono1,
	telefono2 = @telefono2, telefono3 = @telefono3,	
	paisId = @paisId, departamentoId = @departamentoId, municipioId = @municipioId 
where Cliente.id_cliente = @id_cliente

IF @@ROWCOUNT = 0 /*SI NO HUBO CAMBIO O NO SE INSERTO*/
BEGIN
	ROLLBACK TRANSACTION
    return 0
END
ELSE /**CASO CONTRARIO (GUARDO)**/
BEGIN
	 COMMIT TRANSACTION
	 
	 if @id_rep_legal >0
	 begin
		update Cliente_contacto  
		set nombres =@nombre_rep_legal, apellidos = @apellido_rep_legal, direccion = @direccion_rep_legal, correo = @correo_rep_legal,
		telefono1 = @telefono1_rep_legal, telefono2 = @telefono2_rep_legal,
		paisId = @paisId_rep_legal, departamentoId = @departamentoId_rep_legal, municipioId = @municipioId_rep_legal,
		cedula = @cedula_rep_legal
	 where Cliente_contacto.id_contacto_cliente = @id_rep_legal
	 end;

	 if @id_rep_pago >0
	 begin	
		update Cliente_contacto 
		set nombres =@nombre_rep_pago, apellidos = @apellido_rep_pago, direccion = @direccion_rep_pago, correo = @correo_rep_pago,
		telefono1 = @telefono1_rep_pago, telefono2 = @telefono2_rep_pago,
		paisId = @paisId_rep_pago, departamentoId = @departamentoId_rep_pago, municipioId = @municipioId_rep_pago,
		cedula = @cedula_rep_pago
		where Cliente_contacto.id_contacto_cliente = @id_rep_pago
	 end;    
	 
	
END


END TRY
BEGIN CATCH
     DECLARE @Error_Message varchar(150)
     SET @Error_Message = ERROR_NUMBER() + ' ' + ERROR_MESSAGE()
     ROLLBACK TRANSACTION
     RAISERROR(@Error_Message,16,1)
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cliente_update_estado]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_cliente_update_estado](
	@id_cliente int,			   		            
	@return_value int output	
)
AS
BEGIN
	SET NOCOUNT OFF;
	BEGIN TRANSACTION
BEGIN TRY 
	
	update Cliente set id_estado = 9 where Cliente.id_cliente = @id_cliente

	IF @@ROWCOUNT = 0
	BEGIN
		ROLLBACK TRANSACTION
		SET @return_value = 0
		print 'return_value: ' + convert(varchar(10),@return_value)
		RETURN @return_value
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
		SET @return_value = @id_cliente
		print 'return_value: ' + convert(varchar(10),@id_cliente)
		RETURN @return_value
	END

END TRY
BEGIN CATCH
     DECLARE @Error_Message varchar(150)
     SET @Error_Message = ERROR_NUMBER() + ' ' + ERROR_MESSAGE()
     ROLLBACK TRANSACTION
     RAISERROR(@Error_Message,16,1)
      SET @return_value = -1
      RETURN @return_value
END CATCH
	
	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_clientes_get]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_clientes_get]
@id_estado int
as
select * 
from Cliente as C
where C.id_estado = @id_estado
GO
/****** Object:  StoredProcedure [dbo].[sp_cmpMONEDA_Get]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cmpMONEDA_Get]
(
@id INT
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- search and return records
	SELECT  m.MONEDA, 
			m.NOMBRE,
			dm.TasaCapitalizacion 
	FROM [dbo].[MONEDA] m INNER JOIN cmpMONEDA_DETALLE dm 
	ON m.MONEDA=dm.MONEDA   

END







 

GO
/****** Object:  StoredProcedure [dbo].[sp_Cotizacion_GetList]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Cotizacion_GetList] (@Anulado AS int)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT


    SELECT 
       cpmCotizacion.id_cliente
      ,[idCotizacion] AS Codidgo
      ,(SELECT razon_social FROM dbo.cliente WHERE dbo.cliente.id_cliente = cpmCotizacion.id_cliente) AS Cliente
      ,DescripcionCotizacion AS Cotiza 
      ,CONVERT(NVARCHAR(max),FechaCotizacion,105)AS FechaCotizacion
      ,CONVERT(NVARCHAR(max),FechaEntrega,105)AS FechaEntrega
      ,CONVERT(DECIMAL(10,2),GranTotal) AS GranTotal
      ,iif(idMoneda=1,'C$','$')AS Moneda      
      ,IIF ([isFacturada]=0,'NO','SI') AS Facturada
	FROM [dbo].[cpmCotizacion]
	

    WHERE Anulado = @Anulado  
   

     -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

	IF @error != 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Unable to retrieve records. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount = 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. No records found for the specified criteria.', 16, 1) 
		RETURN 1
    END 
    IF @rowcount > 1 
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Se genero un Listado exitosamente ', 10, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
	RETURN 0
END






      
      
      

GO
/****** Object:  StoredProcedure [dbo].[sp_Cotizacion_Update_Edt]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Cotizacion_Update_Edt]
(
   	  @id_cliente int,
      @cliente nvarchar(50), --es Juridico o Natural (id_tipo_contribuyente) : No modificable desde vista cotización
      @razon_social nvarchar(150) , --nombre abreviado 
      @ruc nvarchar(150), 
      @odc int,
      @email nvarchar(150),  --campo correo
      @telefono1 nvarchar(120),
      @fecha_cotizacion date,
      @fecha_rige date,
      @fecha_orden date,
      @fecha_entrega date,
      @dias_plazo int,
      @codigo_cotizacion int, --idCotizacion 
      @descripcion_cotizacion nvarchar(500),
      @observaciones nvarchar(500),
      @moneda nvarchar(5) ,  --campo es idMoneda int
      @tipo_cambio decimal(18,4),
      @sub_total decimal(18,4),
      @descuento decimal(18,4),
      @iva decimal(18,4),
      @gran_total decimal(18,4),
      @esta_facturada nvarchar(2) --campo isFacturada bit

)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE  @error INT, @id INT

    -- start transaction
	BEGIN TRANSACTION
			BEGIN
    				--update cliente
    				UPDATE dbo.cliente SET
    					   razon_social=@razon_social,
    					   ruc=@ruc,
    					   correo=@email,
    					   telefono1=@telefono1 			   
    				WHERE  id_cliente = @id_cliente
			
					 -- update cotizacion
					 UPDATE [dbo].[cpmCotizacion] SET
						 --id_cliente = @id_cliente,
						 --CLIENTE = @CLIENTE,
						 --RequiereOTrabajo = @RequiereOTrabajo,
						 NumeroOC = @odc,
						 FechaEntregaOC = @fecha_orden,
						 FechaRige = @fecha_rige,
						 DiasDPlazo = @dias_plazo,
						 FechaCotizacion = @fecha_cotizacion,
						 FechaEntrega = @fecha_entrega,
						 DescripcionCotizacion = @descripcion_cotizacion,
						 observaciones = @observaciones,
						 idMoneda = IIF(@moneda='C$',1,2),
						 TipoDCambio =@tipo_cambio,
						 SubTotal =@sub_total,
						 Descuento =@descuento ,
						 IVA = @iva,
						 GranTotal = @gran_total,
						 isFacturada = iif(@esta_facturada='SI',1,0)
						 --idEstadoCotizacion = ,
						 --userID = @userID,
						 --Anulado = @Anulado
					WHERE  idCotizacion = @codigo_cotizacion
			END

    -- capture operation completion code and number of records affected	
	SET @error = @@ERROR
	SET @id = SCOPE_IDENTITY()

						IF @error != 0
						BEGIN
							-- cancel transaction, undo changes
							
							ROLLBACK TRANSACTION

							-- report error and exit with non-zero exit code
							RAISERROR('Unable to update or insert new record. See previous message for details.', 16, 1) 
							RETURN @error
						END

    -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION

	-- if operation type 'Add record', return result set with the last inserted column value 
    IF @id IS NOT NULL
        SELECT @id AS NewRecordID
    RETURN @id
    
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CotizacionGet_id]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CotizacionGet_id]
(
    @idCotizacion int
)
AS
BEGIN
    SET NOCOUNT ON
		SELECT 
			id_cliente,
			( SELECT codigo FROM cliente cli WHERE cli.id_cliente = cpmCotizacion.id_cliente) AS codigo,
			idCotizacion as  codigo_cotizacion,    	
			( SELECT stc.descripcion FROM cliente cli 
					INNER JOIN Sub_Tipo_Catalogo AS stc 
					ON cli.id_tipo_contribuyente=stc.id 
					WHERE cli.id_cliente = cpmCotizacion.id_cliente ) AS cliente,  
			( SELECT razon_social FROM cliente cli WHERE cli.id_cliente = cpmCotizacion.id_cliente) AS razon_social,
			(SELECT ruc FROM cliente cli WHERE cli.id_cliente = cpmCotizacion.id_cliente)AS ruc,
			NumeroOC AS odc,
			(SELECT correo FROM cliente cli WHERE cli.id_cliente = cpmCotizacion.id_cliente)AS email,
			(SELECT telefono1 FROM cliente cli WHERE cli.id_cliente = cpmCotizacion.id_cliente)AS telefono1,	
			CONVERT(NVARCHAR(max),fechacotizacion,105) AS  fecha_cotizacion,
			convert(NVARCHAR(max),fecharige,105) AS fecha_rige,
			convert(VARCHAR(max),fechaEntregaoc,105) AS fecha_orden,
			convert(NVARCHAR(max),fechaentrega,105) AS fecha_entrega,
			diasDplazo AS dias_plazo,
			--
			DescripcionCotizacion AS descripcion_cotizacion,
			observaciones,
			IIF([idMoneda]=1,'C$','$') As moneda,
			cast(tipoDcambio AS DECIMAL(18,2)) AS tipo_cambio,
			cast(subtotal AS DECIMAL(18,2)) As sub_total,
			cast(Descuento AS DECIMAL(18,2)) AS descuento,
			cast(Iva AS DECIMAL(18,2)) AS iva,
			cast(Grantotal AS DECIMAL(18,2)) AS gran_total,
			IIF ([isFacturada]=0,'NO','SI') AS esta_facturada      
		 FROM [dbo].[cpmCotizacion]
		 WHERE  idCotizacion = @idCotizacion

    -- commit changes and return 0 code indicating successful completion
	RETURN 0
END





GO
/****** Object:  StoredProcedure [dbo].[sp_cpmCotizacion_Add]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE
 [dbo].[sp_cpmCotizacion_Add]
(
    @idCotizacion int = NULL,
    @id_cliente int = NULL,
    @FechaRige date = NULL,
    @DiasDPlazo int = NULL,
    @FechaCotizacion date = NULL,
    @FechaEntrega date = NULL,
    @DescripcionCotizacion nvarchar(500) = NULL,
    @Observaciones nvarchar(500) = NULL,
    @idMoneda int = NULL,
    @TipoDCambio decimal(18,4) = NULL,   
    @SubTotal decimal(18,4) = NULL,
    @Descuento decimal(18,4) = NULL,
    @IVA decimal(18,4) = NULL,
    @GranTotal decimal(18,4) = NULL,
    @idCotizacionOut INT OUTPUT
	)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT, @id INT

    -- start transaction
	BEGIN TRANSACTION

    -- check if the specified record already exists, if yes, update it, if no, create it
    IF NOT EXISTS 
    (    
         SELECT * 
         FROM [dbo].[cpmCotizacion]
         WHERE  idCotizacion = @idCotizacion
    )
    BEGIN 
    	
    	
    	
    	
         -- insert new record
         INSERT INTO [dbo].[cpmCotizacion]
         (
             id_cliente,
             FechaRige,
             DiasDPlazo,
             FechaCotizacion,
             FechaEntrega,
             DescripcionCotizacion,
             Observaciones,
             idMoneda,
             TipoDCambio,
             SubTotal,
             Descuento,
             IVA,
             GranTotal
         )
         VALUES 
         (
             @id_cliente,
             @FechaRige,
             @DiasDPlazo,
             @FechaCotizacion,
             @FechaEntrega,
             @DescripcionCotizacion,
             @Observaciones,
             @idMoneda,
             @TipoDCambio,
             @SubTotal,
             @Descuento,
             @IVA,
             @GranTotal
            
         )
    END 
    ELSE
    BEGIN
         -- update existing record
         UPDATE [dbo].[cpmCotizacion]
         SET id_cliente = @id_cliente,
             FechaRige = @FechaRige,
             DiasDPlazo = @DiasDPlazo,
             FechaCotizacion = @FechaCotizacion,
             FechaEntrega = @FechaEntrega,
             DescripcionCotizacion = @DescripcionCotizacion,
             Observaciones = @Observaciones,
             idMoneda = @idMoneda,
             TipoDCambio = @TipoDCambio,
             SubTotal = @SubTotal,
             Descuento = @Descuento,
             IVA = @IVA,
             GranTotal = @GranTotal
             
         WHERE  idCotizacion = @idCotizacion
    END

    -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR,
           @id = SCOPE_IDENTITY()

	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to update or insert new record. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. More than 1 record found for the specified criteria, just 1 is expected.', 16, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION

	-- if operation type 'Add record', return result set with the last inserted column value 
    IF @id IS NOT NULL
        SELECT @idCotizacionOut=@id 
    RETURN @id
END


GO
/****** Object:  StoredProcedure [dbo].[sp_cpmCotizacionDetalle_Add]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_cpmCotizacionDetalle_Add]
(
    @idDetCotizacion int = NULL,
    @idCotizacion int = NULL,
    @ID_ARTICULO_ITEM varchar(20) = NULL,
    @Tipo varchar(1) = NULL,
    @Descripcion nvarchar(max) = NULL,
    @Cantidad int = NULL,
    @Precio decimal(18,4) = NULL,
    @IVA decimal(18,4) = NULL,
    @SubTotal decimal(18,4) = NULL,    
    @idEstadoComponente int = NULL,
    @userID int = NULL,
    @Anulado bit = NULL
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT, @id INT, 
			@IDItem int, @IDProyectoITEM INT, @FechaInicio date, @FechaEntrega date 
    

    -- start transaction
	BEGIN TRANSACTION

    -- check if the specified record already exists, if yes, update it, if no, create it
      
    IF NOT EXISTS 
    (    
         SELECT * 
         FROM [dbo].[cpmCotizacionDetalle]
         WHERE  idDetCotizacion = @idDetCotizacion
    )
    BEGIN	    		
    		SELECT  @IDProyectoITEM = COUNT(*)+1 FROM [dbo].[cpmCotizacionDetalle]
    		SELECT  @IDItem        = COUNT(*)+1 FROM [dbo].[cpmCotizacionDetalle]
    		SET @FechaInicio = GETDATE() 
    		SET @FechaEntrega = GETDATE()
    		
         -- insert new record
         INSERT INTO [dbo].[cpmCotizacionDetalle]
         (
             idCotizacion,
             IDProyectoITEM,
             ID_ARTICULO_ITEM,
             Tipo,
             IDItem,
             Descripcion,
             Cantidad,
             Precio,
             IVA,
             SubTotal,
             FechaInicio,
             FechaEntrega,
             idEstadoComponente,
             userID,
             Anulado
         )
         VALUES 
         (
             @idCotizacion,
             @IDProyectoITEM,
             @ID_ARTICULO_ITEM,
             @Tipo,
             @IDItem,
             @Descripcion,
             @Cantidad,
             @Precio,
             @IVA,
             @SubTotal,
             @FechaInicio,
             @FechaEntrega,
             @idEstadoComponente,
             @userID,
             @Anulado
         )
    END 
    ELSE
    BEGIN
            -- update existing record
         UPDATE [dbo].[cpmCotizacionDetalle]
         SET idCotizacion = @idCotizacion,
             ID_ARTICULO_ITEM = @ID_ARTICULO_ITEM,
             Tipo = @Tipo,
             Descripcion = @Descripcion,
             Cantidad = @Cantidad,
             Precio = @Precio,
             IVA = @IVA,
             SubTotal = @SubTotal,
             idEstadoComponente = @idEstadoComponente,
             userID = @userID,
             Anulado = @Anulado
         WHERE  idDetCotizacion = @idDetCotizacion
    END

    -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR,
           @id = SCOPE_IDENTITY()

	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to update or insert new record. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. More than 1 record found for the specified criteria, just 1 is expected.', 16, 1) 
		RETURN 1
    END 

     -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION

	-- if operation type 'Add record', return result set with the last inserted column value 
    IF @id IS NOT NULL
        SELECT @id AS NewRecordID
    RETURN 0
END






GO
/****** Object:  StoredProcedure [dbo].[sp_cpmCotizacionDetalle_Delete]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cpmCotizacionDetalle_Delete]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v11.0.35
*
* Procedure description: This procedure is used for 
*                        deleting records from table 
*                        [DBMATSPEN].[dbo].[cpmCotizacionDetalle]
* Date:   2/11/2021 
* Author: desarrollador4
*
* Changes
* Date        Modified By            Comments
************************************************************
* 2/11/2021  desarrollador4     Initial version
************************************************************/
(
    @idDetCotizacion int
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- start transaction
	BEGIN TRANSACTION

    -- delete record using the specified criteria, 1 record deletion is expected
    DELETE FROM [dbo].[cpmCotizacionDetalle]
    WHERE  idDetCotizacion = @idDetCotizacion

    -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

    -- check for errors
	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to delete record. See previous message for details.', 16, 1) 
		RETURN @error
    END
    -- check for rows updated
    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
		IF @rowcount = 0
            RAISERROR('Warning. No records found for the specified criteria, while just 1 was expected.', 10, 1) 
		ELSE
            RAISERROR('Critical error. More than 1 record found for the specified criteria, while just 1 was expected.', 16, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION
    RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_cpmCotizacionDetalle_Get]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cpmCotizacionDetalle_Get]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v11.0.35
*
* Procedure description: This procedure is used for 
*                        retrieving records from table 
*                        [DBMATSPEN].[dbo].[cpmCotizacionDetalle]
* Date:   2/11/2021 
* Author: desarrollador4
*
* Changes
* Date        Modified By            Comments
************************************************************
* 2/11/2021  desarrollador4     Initial version
************************************************************/
(
    @idDetCotizacion int
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- search and return records
    SELECT idDetCotizacion,
           idCotizacion,
           IDComponenteITEM,
           IDComponente,
           IDItem,
           Descripcion,
           Cantidad,
           Precio,
           IVA,
           SubTotal,
           FechaInicio,
           FechaEntrega,
           idEstadoComponente,
           userID,
           Anulado 
    FROM [dbo].[cpmCotizacionDetalle]
    WHERE  idDetCotizacion = @idDetCotizacion

     -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

	IF @error != 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Unable to retrieve records. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount = 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. No records found for the specified criteria.', 16, 1) 
		RETURN 1
    END 
    IF @rowcount > 1 
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Warning. More than 1 record found for the specified criteria, while just 1 is expected.', 10, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
	RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_cpmCotizacionDetalleComponenteITEM_Add]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cpmCotizacionDetalleComponenteITEM_Add]
(
    @IDComponenteITEM int = NULL,
    @IDComponente varchar(20) = NULL,
    @ARTICULO varchar(20) = NULL,
    @Largo int = NULL,
    @Ancho int = NULL,
    @Descripcion nvarchar(max) = NULL,
    @Cantidad decimal(18,4) = NULL,
    @MONEDA varchar(4) = NULL,
    @CostoBase decimal(18,4) = NULL,
    @Precio decimal(18,4) = NULL,
    @IVA decimal(18,4) = NULL,
    @subTotal decimal(18,4) = NULL,
    @TIPO varchar(1) = NULL,
    @userID int = NULL,
    @Anulado bit = NULL,
    @idout varchar(20) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT, @id INT
    DECLARE @DescTipo NVARCHAR(3)

    -- start transaction
	BEGIN TRANSACTION

    -- check if the specified record already exists, if yes, update it, if no, create it
    IF @TIPO='T' BEGIN SET @DescTipo ='TER' END ELSE BEGIN SET @DescTipo='SRV'END
    
    IF NOT EXISTS 
    (    
         SELECT * 
         FROM [dbo].[cpmCotizacionDetalleComponenteITEM]
         WHERE  IDComponenteITEM = @IDComponenteITEM
               AND IDComponente = @IDComponente
    )
    BEGIN 
    	
    	SELECT  @IDComponente ='COMP-'+@DescTipo+'-'+FORMAT(COUNT(*)+1,'00000000') FROM [dbo].[cpmCotizacionDetalleComponenteITEM]
    	
         -- insert new record
         INSERT INTO [dbo].[cpmCotizacionDetalleComponenteITEM]
         (
             IDComponente,
             ARTICULO,
             Largo,
             Ancho,
             Descripcion,
             Cantidad,
             MONEDA,
             CostoBase,
             Precio,
             IVA,
             subTotal,
             TIPO,
             userID,
             Anulado
         )
         VALUES 
         (
             @IDComponente,
             @ARTICULO,
             @Largo,
             @Ancho,
             @Descripcion,
             @Cantidad,
             @MONEDA,
             @CostoBase,
             @Precio,
             @IVA,
             @subTotal,
             @TIPO,
             @userID,
             @Anulado
         )
    END 
    ELSE
    BEGIN
         -- update existing record
         UPDATE [dbo].[cpmCotizacionDetalleComponenteITEM]
         SET IDComponente = @IDComponente,
             ARTICULO = @ARTICULO,
             Largo = @Largo,
             Ancho = @Ancho,
             Descripcion = @Descripcion,
             Cantidad = @Cantidad,
             MONEDA = @MONEDA,
             CostoBase = @CostoBase,
             Precio = @Precio,
             IVA = @IVA,
             subTotal = @subTotal,
             TIPO = @TIPO,
             userID = @userID,
             Anulado = @Anulado
         WHERE  IDComponenteITEM = @IDComponenteITEM
               AND IDComponente = @IDComponente
    END

    -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR,
           @id = SCOPE_IDENTITY()

	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to update or insert new record. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. More than 1 record found for the specified criteria, just 1 is expected.', 16, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION
	 SELECT @idout = IDComponente  FROM  [dbo].[cpmCotizacionDetalleComponenteITEM]
								    WHERE IDComponenteITEM = @IDComponenteITEM
								      AND IDComponente = @IDComponente
    
END





GO
/****** Object:  StoredProcedure [dbo].[sp_cpmCotizacionDetalleComponenteITEM_Delete]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cpmCotizacionDetalleComponenteITEM_Delete]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v11.0.35
*
* Procedure description: This procedure is used for 
*                        deleting records from table 
*                        [DBMATSPEN].[dbo].[cpmCotizacionDetalleComponenteITEM]
* Date:   2/11/2021 
* Author: desarrollador4
*
* Changes
* Date        Modified By            Comments
************************************************************
* 2/11/2021  desarrollador4     Initial version
************************************************************/
(
    @IDComponenteITEM int,
    @IDComponente varchar(20)
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- start transaction
	BEGIN TRANSACTION

    -- delete record using the specified criteria, 1 record deletion is expected
    DELETE FROM [dbo].[cpmCotizacionDetalleComponenteITEM]
    WHERE  IDComponenteITEM = @IDComponenteITEM
          AND IDComponente = @IDComponente

    -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

    -- check for errors
	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to delete record. See previous message for details.', 16, 1) 
		RETURN @error
    END
    -- check for rows updated
    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
		IF @rowcount = 0
            RAISERROR('Warning. No records found for the specified criteria, while just 1 was expected.', 10, 1) 
		ELSE
            RAISERROR('Critical error. More than 1 record found for the specified criteria, while just 1 was expected.', 16, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION
    RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_cpmCotizacionDetalleComponenteITEM_Get]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cpmCotizacionDetalleComponenteITEM_Get]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v11.0.35
*
* Procedure description: This procedure is used for 
*                        retrieving records from table 
*                        [DBMATSPEN].[dbo].[cpmCotizacionDetalleComponenteITEM]
* Date:   2/11/2021 
* Author: desarrollador4
*
* Changes
* Date        Modified By            Comments
************************************************************
* 2/11/2021  desarrollador4     Initial version
************************************************************/
(
    @IDComponenteITEM int,
    @IDComponente varchar(20)
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- search and return records
    SELECT IDComponenteITEM,
           IDComponente,
           ARTICULO,
           Largo,
           Ancho,
           Descripcion,
           Cantidad,
           MONEDA,
           CostoBase,
           Precio,
           IVA,
           subTotal,
           TIPO,
           userID,
           Anulado 
    FROM [dbo].[cpmCotizacionDetalleComponenteITEM]
    WHERE  IDComponenteITEM = @IDComponenteITEM
          AND IDComponente = @IDComponente

     -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

	IF @error != 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Unable to retrieve records. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount = 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. No records found for the specified criteria.', 16, 1) 
		RETURN 1
    END 
    IF @rowcount > 1 
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Warning. More than 1 record found for the specified criteria, while just 1 is expected.', 10, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
	RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_departamento_get_w]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_departamento_get_w]
@id int
as 
select Departamento.id,Departamento.nombre
from Departamento
where Departamento.id = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_departamentos_list_w]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_departamentos_list_w]
@paisId int
as
select id,nombre
from Departamento 
where Departamento.paisId = @paisId
GO
/****** Object:  StoredProcedure [dbo].[sp_municipio_get_w]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_municipio_get_w]
@id int
as
select Municipio.id,Municipio.nombre 
from Municipio 
where Municipio.id = @id 
GO
/****** Object:  StoredProcedure [dbo].[sp_municipios_list_w]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_municipios_list_w]
@departamentoId int
as
select id,nombre
from Municipio 
where Municipio.departamentoId = @departamentoId
GO
/****** Object:  StoredProcedure [dbo].[sp_pais_get_w]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_pais_get_w]
@id int
as 
select Pais.id,Pais.nombre
from Pais
where Pais.id = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_SubTipoCatalogo_get_w]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_SubTipoCatalogo_get_w](
	@id_tipocatalogo int
)
AS
BEGIN
 SET NOCOUNT ON;
 Select sc.id, sc.descripcion from Sub_Tipo_Catalogo sc where sc.idTipoCatalogo = @id_tipocatalogo AND sc.activo = 1
END

GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTICULO](
	[ARTICULO] [varchar](20) NOT NULL,
	[PLANTILLA_SERIE] [varchar](4) NULL,
	[DESCRIPCION] [varchar](254) NULL,
	[CLASIFICACION_1] [varchar](12) NULL,
	[CLASIFICACION_2] [varchar](12) NULL,
	[CLASIFICACION_3] [varchar](12) NULL,
	[CLASIFICACION_4] [varchar](12) NULL,
	[CLASIFICACION_5] [varchar](12) NULL,
	[CLASIFICACION_6] [varchar](12) NULL,
	[FACTOR_CONVER_1] [decimal](28, 8) NULL,
	[FACTOR_CONVER_2] [decimal](28, 8) NULL,
	[FACTOR_CONVER_3] [decimal](28, 8) NULL,
	[FACTOR_CONVER_4] [decimal](28, 8) NULL,
	[FACTOR_CONVER_5] [decimal](28, 8) NULL,
	[FACTOR_CONVER_6] [decimal](28, 8) NULL,
	[TIPO] [varchar](1) NULL,
	[ORIGEN_CORP] [varchar](1) NULL,
	[PESO_NETO] [decimal](28, 8) NULL,
	[PESO_BRUTO] [decimal](28, 8) NULL,
	[VOLUMEN] [decimal](28, 8) NULL,
	[BULTOS] [smallint] NULL,
	[ARTICULO_CUENTA] [varchar](4) NULL,
	[IMPUESTO] [varchar](4) NULL,
	[FACTOR_EMPAQUE] [decimal](28, 8) NULL,
	[FACTOR_VENTA] [decimal](28, 8) NULL,
	[EXISTENCIA_MINIMA] [decimal](28, 8) NULL,
	[EXISTENCIA_MAXIMA] [decimal](28, 8) NULL,
	[PUNTO_DE_REORDEN] [decimal](28, 8) NULL,
	[COSTO_FISCAL] [varchar](1) NULL,
	[COSTO_COMPARATIVO] [varchar](1) NULL,
	[COSTO_PROM_LOC] [decimal](28, 8) NULL,
	[COSTO_PROM_DOL] [decimal](28, 8) NULL,
	[COSTO_STD_LOC] [decimal](28, 8) NULL,
	[COSTO_STD_DOL] [decimal](28, 8) NULL,
	[COSTO_ULT_LOC] [decimal](28, 8) NULL,
	[COSTO_ULT_DOL] [decimal](28, 8) NULL,
	[PRECIO_BASE_LOCAL] [decimal](28, 8) NULL,
	[PRECIO_BASE_DOLAR] [decimal](28, 8) NULL,
	[ULTIMA_SALIDA] [datetime] NULL,
	[ULTIMO_MOVIMIENTO] [datetime] NULL,
	[ULTIMO_INGRESO] [datetime] NULL,
	[ULTIMO_INVENTARIO] [datetime] NULL,
	[CLASE_ABC] [varchar](1) NULL,
	[FRECUENCIA_CONTEO] [smallint] NULL,
	[CODIGO_BARRAS_VENT] [varchar](20) NULL,
	[CODIGO_BARRAS_INVT] [varchar](20) NULL,
	[ACTIVO] [varchar](1) NULL,
	[USA_LOTES] [varchar](1) NULL,
	[OBLIGA_CUARENTENA] [varchar](1) NULL,
	[MIN_VIDA_COMPRA] [smallint] NULL,
	[MIN_VIDA_CONSUMO] [smallint] NULL,
	[MIN_VIDA_VENTA] [smallint] NULL,
	[VIDA_UTIL_PROM] [smallint] NULL,
	[DIAS_CUARENTENA] [smallint] NULL,
	[PROVEEDOR] [varchar](20) NULL,
	[ARTICULO_DEL_PROV] [varchar](30) NULL,
	[ORDEN_MINIMA] [decimal](28, 8) NULL,
	[PLAZO_REABAST] [smallint] NULL,
	[LOTE_MULTIPLO] [decimal](28, 8) NULL,
	[NOTAS] [text] NULL,
	[UTILIZADO_MANUFACT] [varchar](1) NULL,
	[USUARIO_CREACION] [varchar](10) NULL,
	[FCH_HORA_CREACION] [datetime] NULL,
	[USUARIO_ULT_MODIF] [varchar](10) NULL,
	[FCH_HORA_ULT_MODIF] [datetime] NULL,
	[USA_NUMEROS_SERIE] [varchar](1) NULL,
	[MODALIDAD_INV_FIS] [varchar](1) NULL,
	[TIPO_COD_BARRA_DET] [varchar](1) NULL,
	[TIPO_COD_BARRA_ALM] [varchar](1) NULL,
	[USA_REGLAS_LOCALES] [varchar](1) NULL,
	[UNIDAD_ALMACEN] [varchar](6) NULL,
	[UNIDAD_EMPAQUE] [varchar](6) NULL,
	[UNIDAD_VENTA] [varchar](6) NULL,
	[PERECEDERO] [varchar](1) NULL,
	[GTIN] [varchar](13) NULL,
	[MANUFACTURADOR] [varchar](35) NULL,
	[invUsaLotes] [bit] NULL,
	[sucPrecioMinimo] [decimal](28, 8) NULL,
	[sucProductoControlado] [bit] NULL,
	[CODIGO_RETENCION] [varchar](4) NULL,
	[RETENCION_VENTA] [varchar](4) NULL,
	[RETENCION_COMPRA] [varchar](4) NULL,
	[MODELO_RETENCION] [varchar](4) NULL,
 CONSTRAINT [PK_ARTICULO] PRIMARY KEY CLUSTERED 
(
	[ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](120) NULL,
	[razon_social] [nvarchar](150) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[ruc] [nvarchar](150) NOT NULL,
	[cedula] [nvarchar](20) NULL,
	[correo] [nvarchar](150) NULL,
	[direccion] [nvarchar](150) NOT NULL,
	[telefono1] [nvarchar](120) NOT NULL,
	[telefono2] [nvarchar](120) NULL,
	[telefono3] [nvarchar](120) NULL,
	[id_estado] [int] NULL,
	[id_tipo_cliente] [int] NULL,
	[municipioId] [int] NULL,
	[departamentoId] [int] NULL,
	[paisId] [int] NULL,
	[CLIENTE] [varchar](20) NULL,
	[id_tipo_contribuyente] [int] NULL,
 CONSTRAINT [PK__Cliente__677F38F52D9C937A] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente_contacto]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente_contacto](
	[id_contacto_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](150) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono1] [varchar](120) NOT NULL,
	[telefono2] [varchar](120) NULL,
	[paisId] [int] NULL,
	[departamentoId] [int] NULL,
	[municipioId] [int] NOT NULL,
	[cedula] [varchar](30) NULL,
	[clienteId] [int] NOT NULL,
	[id_tipo_contacto] [int] NULL,
	[estadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contacto_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cmpMONEDA_DETALLE]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cmpMONEDA_DETALLE](
	[idDetMoneda] [int] IDENTITY(1,1) NOT NULL,
	[MONEDA] [varchar](4) NULL,
	[Fecha] [date] NULL,
	[TasaCapitalizacion] [decimal](18, 4) NULL,
	[isTasaActiva] [bit] NULL,
	[userID] [int] NULL,
	[Anulado] [bit] NULL,
 CONSTRAINT [PK_cmpMONEDA_DETALLE] PRIMARY KEY CLUSTERED 
(
	[idDetMoneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cpmCotizacion]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cpmCotizacion](
	[idCotizacion] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[RequiereOTrabajo] [bit] NULL,
	[NumeroOC] [int] NULL,
	[FechaEntregaOC] [date] NULL,
	[FechaRige] [date] NULL,
	[DiasDPlazo] [int] NULL,
	[FechaCotizacion] [date] NULL,
	[FechaEntrega] [date] NULL,
	[DescripcionCotizacion] [nvarchar](500) NULL,
	[Observaciones] [nvarchar](500) NULL,
	[idMoneda] [int] NULL,
	[TipoDCambio] [decimal](18, 4) NULL,
	[SubTotal] [decimal](18, 4) NULL,
	[Descuento] [decimal](18, 4) NULL,
	[IVA] [decimal](18, 4) NULL,
	[GranTotal] [decimal](18, 4) NULL,
	[isFacturada] [bit] NULL,
	[idEstadoCotizacion] [int] NULL,
	[userID] [int] NULL,
	[Anulado] [bit] NULL,
 CONSTRAINT [PK_cpmCotizacion] PRIMARY KEY CLUSTERED 
(
	[idCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cpmCotizacionDetalle]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cpmCotizacionDetalle](
	[idDetCotizacion] [int] IDENTITY(1,1) NOT NULL,
	[idCotizacion] [int] NOT NULL,
	[Tipo] [varchar](1) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Cantidad] [int] NULL,
	[Precio] [decimal](18, 4) NULL,
	[IVA] [decimal](18, 4) NULL,
	[SubTotal] [decimal](18, 4) NULL,
	[FechaInicio] [date] NULL,
	[FechaEntrega] [date] NULL,
	[idEstadoComponente] [int] NULL,
	[userID] [int] NULL,
	[Anulado] [bit] NULL,
 CONSTRAINT [PK_cpmCotizacionDetalle_1] PRIMARY KEY CLUSTERED 
(
	[idDetCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cpmCotizacionDetalleComponenteITEM]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cpmCotizacionDetalleComponenteITEM](
	[IdDetalleITEM] [int] IDENTITY(1,1) NOT NULL,
	[idDetCotizacion] [int] NOT NULL,
	[ARTICULO] [varchar](20) NULL,
	[Largo] [int] NULL,
	[Ancho] [int] NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Cantidad] [decimal](18, 4) NULL,
	[MONEDA] [varchar](4) NULL,
	[CostoBase] [decimal](18, 4) NULL,
	[Precio] [decimal](18, 4) NULL,
	[IVA] [decimal](18, 4) NULL,
	[subTotal] [decimal](18, 4) NULL,
	[userID] [int] NULL,
	[Anulado] [bit] NULL,
 CONSTRAINT [PK_cpmCotizacionDetalleComponenteITEM] PRIMARY KEY CLUSTERED 
(
	[IdDetalleITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cpmCotizacionEstado]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cpmCotizacionEstado](
	[idEstadoCotizacion] [int] IDENTITY(1,1) NOT NULL,
	[Descr] [nvarchar](500) NULL,
	[userID] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_cpmCotizacionEstado] PRIMARY KEY CLUSTERED 
(
	[idEstadoCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cpmOrdenTrabajo]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cpmOrdenTrabajo](
	[idOrdenTrabajo] [int] IDENTITY(1,1) NOT NULL,
	[idCotizacion] [int] NOT NULL,
	[IDComponente] [varchar](20) NULL,
	[IDItem] [int] NULL,
	[FacturaAsociada] [bit] NOT NULL,
	[Factura] [int] NULL,
	[FechaOrden] [datetime] NULL,
	[FechaEntrega] [datetime] NULL,
	[idEstadoOT] [int] NULL,
	[userID] [int] NULL,
	[Anulado] [bit] NULL,
 CONSTRAINT [PK_cpmOrdenTrabajo] PRIMARY KEY CLUSTERED 
(
	[idOrdenTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_cpmOrdenTrabajo] UNIQUE NONCLUSTERED 
(
	[idCotizacion] ASC,
	[IDItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cpmUnd_Med]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cpmUnd_Med](
	[UNIDAD_ALMACEN] [varchar](6) NOT NULL,
	[Siglas] [nvarchar](10) NULL,
	[Nombre] [nvarchar](200) NULL,
	[userID] [int] NULL,
	[Anulado] [bit] NULL,
 CONSTRAINT [PK_cpmUnd_Med] PRIMARY KEY CLUSTERED 
(
	[UNIDAD_ALMACEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[paisId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONEDA]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONEDA](
	[MONEDA] [varchar](4) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[CODIGO_ISO] [varchar](4) NULL,
	[NoteExistsFlag] [tinyint] NULL,
	[RecordDate] [datetime] NULL,
	[RowPointer] [uniqueidentifier] NULL,
	[CreatedBy] [varchar](30) NULL,
	[UpdatedBy] [varchar](30) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_cmpMONEDA] PRIMARY KEY CLUSTERED 
(
	[MONEDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Municipio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[departamentoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sub_Tipo_Catalogo]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sub_Tipo_Catalogo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTipoCatalogo] [int] NULL,
	[descripcion] [varchar](150) NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sub_tipo_catalogo_detalle]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sub_tipo_catalogo_detalle](
	[id_sub_tipo_cat_det] [int] IDENTITY(1,1) NOT NULL,
	[id_sub_tipo_cat_detERP] [varchar](20) NULL,
	[id_sub_tipo_cat] [int] NULL,
	[descripcion] [varchar](50) NULL,
	[activo] [bit] NULL,
	[fecha_reg] [date] NULL,
 CONSTRAINT [pk_id_sub_tipo_cat_det] PRIMARY KEY CLUSTERED 
(
	[id_sub_tipo_cat_det] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_sub_tipo_cat_detERP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoCatalogo]    Script Date: 5/11/2021 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCatalogo](
	[id_tipo_catalogo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_catalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[cmpMONEDA_DETALLE] ADD  CONSTRAINT [DF_cmpMONEDA_DETALLE_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[cmpMONEDA_DETALLE] ADD  CONSTRAINT [DF_cmpMONEDA_DETALLE_isTasaActiva]  DEFAULT ((1)) FOR [isTasaActiva]
GO
ALTER TABLE [dbo].[cmpMONEDA_DETALLE] ADD  CONSTRAINT [DF_cmpMONEDA_DETALLE_userID]  DEFAULT ((1)) FOR [userID]
GO
ALTER TABLE [dbo].[cmpMONEDA_DETALLE] ADD  CONSTRAINT [DF_cmpMONEDA_DETALLE_Anulado]  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_lcpCotizacion_RequiereOTrabajo]  DEFAULT ((1)) FOR [RequiereOTrabajo]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_NumeroOC]  DEFAULT ((0)) FOR [NumeroOC]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_FechaEntregaOC]  DEFAULT (getdate()) FOR [FechaEntregaOC]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_FechaRige]  DEFAULT (getdate()) FOR [FechaRige]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_DiasDPlazo]  DEFAULT ((1)) FOR [DiasDPlazo]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_FechaCotizacion]  DEFAULT (getdate()) FOR [FechaCotizacion]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_FechaEntrega]  DEFAULT (getdate()) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_DescripcionCotizacion]  DEFAULT (N'Proyecto') FOR [DescripcionCotizacion]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_Observaciones]  DEFAULT (N'cuando se entrega') FOR [Observaciones]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_idMoneda]  DEFAULT (($0.0000)) FOR [idMoneda]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_TipoDCambio]  DEFAULT ((0.0)) FOR [TipoDCambio]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_SubTotal]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_Descuento]  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_IVA]  DEFAULT ((0)) FOR [IVA]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_GranTotal]  DEFAULT ((0)) FOR [GranTotal]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_lcpCotizacion_isFacturada]  DEFAULT ((0)) FOR [isFacturada]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_idEstadoCotizacion]  DEFAULT ((2)) FOR [idEstadoCotizacion]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [DF_cpmCotizacion_userID]  DEFAULT ((1)) FOR [userID]
GO
ALTER TABLE [dbo].[cpmCotizacion] ADD  CONSTRAINT [KDF_tNCotizaXLicitacion]  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_Cantidad]  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_Precio]  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_IVA]  DEFAULT ((0)) FOR [IVA]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_SubTotal]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_FechaInicio]  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_FechaEntrega]  DEFAULT (getdate()) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_idEstadoComponente]  DEFAULT ((1)) FOR [idEstadoComponente]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_userID]  DEFAULT ((1)) FOR [userID]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] ADD  CONSTRAINT [DF_cpmCotizacionDetalle_Anulado]  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_ARTICULO]  DEFAULT ('PRD-TER-00000001') FOR [ARTICULO]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_Largo]  DEFAULT ((0)) FOR [Largo]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_Ancho]  DEFAULT ((0)) FOR [Ancho]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_Cantidad]  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_MONEDA]  DEFAULT ('C$') FOR [MONEDA]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_CostoBase]  DEFAULT ((0)) FOR [CostoBase]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_Precio]  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_IVA]  DEFAULT ((0.15)) FOR [IVA]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_subTotal]  DEFAULT ((0)) FOR [subTotal]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_userID]  DEFAULT ((1)) FOR [userID]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] ADD  CONSTRAINT [DF_cpmCotizacionDetalleComponenteITEM_Anulado]  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[MONEDA] ADD  CONSTRAINT [DF_cmpMONEDA_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[cmpMONEDA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_cmpMONEDA_DETALLE_cmpMONEDA] FOREIGN KEY([MONEDA])
REFERENCES [dbo].[MONEDA] ([MONEDA])
GO
ALTER TABLE [dbo].[cmpMONEDA_DETALLE] CHECK CONSTRAINT [FK_cmpMONEDA_DETALLE_cmpMONEDA]
GO
ALTER TABLE [dbo].[cpmCotizacion]  WITH CHECK ADD  CONSTRAINT [FK_cpmCotizacion_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[cpmCotizacion] CHECK CONSTRAINT [FK_cpmCotizacion_Cliente]
GO
ALTER TABLE [dbo].[cpmCotizacion]  WITH CHECK ADD  CONSTRAINT [FK_cpmCotizacion_cpmCotizacionEstado] FOREIGN KEY([idEstadoCotizacion])
REFERENCES [dbo].[cpmCotizacionEstado] ([idEstadoCotizacion])
GO
ALTER TABLE [dbo].[cpmCotizacion] CHECK CONSTRAINT [FK_cpmCotizacion_cpmCotizacionEstado]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_cpmCotizacionDetalle_cpmCotizacion1] FOREIGN KEY([idCotizacion])
REFERENCES [dbo].[cpmCotizacion] ([idCotizacion])
GO
ALTER TABLE [dbo].[cpmCotizacionDetalle] CHECK CONSTRAINT [FK_cpmCotizacionDetalle_cpmCotizacion1]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM]  WITH CHECK ADD  CONSTRAINT [FK_cpmCotizacionDetalleComponenteITEM_cpmCotizacionDetalle] FOREIGN KEY([idDetCotizacion])
REFERENCES [dbo].[cpmCotizacionDetalle] ([idDetCotizacion])
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] CHECK CONSTRAINT [FK_cpmCotizacionDetalleComponenteITEM_cpmCotizacionDetalle]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM]  WITH CHECK ADD  CONSTRAINT [FK_cpmItemComponente_ARTICULO] FOREIGN KEY([ARTICULO])
REFERENCES [dbo].[ARTICULO] ([ARTICULO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] CHECK CONSTRAINT [FK_cpmItemComponente_ARTICULO]
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM]  WITH CHECK ADD  CONSTRAINT [FK_cpmItemComponente_cmpMONEDA] FOREIGN KEY([MONEDA])
REFERENCES [dbo].[MONEDA] ([MONEDA])
GO
ALTER TABLE [dbo].[cpmCotizacionDetalleComponenteITEM] CHECK CONSTRAINT [FK_cpmItemComponente_cmpMONEDA]
GO
ALTER TABLE [dbo].[cpmOrdenTrabajo]  WITH NOCHECK ADD  CONSTRAINT [FK_cpmOrdenTrabajo_cpmCotizacion] FOREIGN KEY([idCotizacion])
REFERENCES [dbo].[cpmCotizacion] ([idCotizacion])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[cpmOrdenTrabajo] NOCHECK CONSTRAINT [FK_cpmOrdenTrabajo_cpmCotizacion]
GO
