<div class="row" class="mat-elevation-z3">
    <div class="col-12">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h4 class="card-title"><span class="lstick"></span>AGREGAR COTIZACIÓN</h4>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <table class="table">
                        <!--Z8-TABLA TOTALES -->
                        <thead>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr class="table-default">
                                <td colspan="5"></td>
                                <td class="alinear_derecha"><strong>Tasa-Fecha</strong> </td>
                                <td class="alinear_izquierda"> {{flag_ts_Cambio}} </td>
                                <td class="alinear_izquierda"> {{fecha_ts | date:'yyyy-MM-dd'}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <form [formGroup]="AddformCotizacion" #formDirective="ngForm"
                    (ngSubmit)="enviar(AddformCotizacion.value,formDirective)">

                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="legacy">
                                <mat-label >Cliente(*)</mat-label>
                                <mat-select formControlName="id_cliente">
                                    <mat-option *ngFor="let item of list_cliente" [value]="item.id_cliente"
                                    (click)="Cliente_change(item.id_cliente)" >
                                        {{item.nombre}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="legacy">
                                <mat-label>Moneda(*)</mat-label>
                                <mat-select formControlName="id_moneda" 
                                    [(value)]="Moneda_simbol"
                                    (selectionChange)="cambiarMoneda($event.value)">
                                    <mat-option *ngFor="let item of Lista_Monedas" [value]="item.MONEDA">{{item.NOMBRE}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="legacy">
                                <mat-label>No. Orden de compra</mat-label>
                                <input matInput placeholder="No. Orden de compra" formControlName="NumeroOC">
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col">
                            <mat-form-field appearance="legacy">
                                <mat-label >Fecha de Entrega</mat-label>                                
                                    <input matInput type="date" formControlName="FechaEntrega">                                   
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="legacy">
                                <mat-label>Días Plazo (Vigencia)</mat-label>
                                <input matInput type="number" placeholder="Días de plazo"
                                    formControlName="DiasPlazoEntrega" min="0">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="legacy">
                                <mat-label>Descuento %</mat-label> 
                                <input matInput type="number" formControlName="Descuento" min="0" (keyup)="Descuento_kyUp()">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="legacy">
                                <mat-label>Descripción Cotización(*)</mat-label>
                                <input matInput placeholder="Descripción Cotizacón"
                                    formControlName="DescripcionCotizacion">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="legacy">
                                <mat-label>Observaciones(*)</mat-label>
                                <input matInput placeholder="Observaciones de la Cotización "
                                    formControlName="Observaciones">
                            </mat-form-field>
                        </div>
                    </div>

                    <!--Z8-TABLA GRID -->
                    <table mat-table #table [dataSource]="dataSource" matSort>


                        <ng-container matColumnDef="Descripcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                            <td mat-cell *matCellDef="let transaction"> {{transaction.DESCRIPCION}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="Cantidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                            <td mat-cell *matCellDef="let transaction"> {{transaction.Cantidad |number:'1.2-2'}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="Precio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                            <td mat-cell *matCellDef="let transaction"> {{transaction.Precio |number:'1.2-2'}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="Total">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total{{' '}}{{Moneda_simbol}} </th>
                            <td mat-cell *matCellDef="let transaction">
                                <div *ngIf="transaction.TIPO === 'P'">{{(transaction.Precio |number:'1.2-2')}}</div>
                                <div *ngIf="transaction.TIPO !== 'P'">{{(transaction.Cantidad * transaction.Precio |number:'1.2-2')}} 
                                </div>

                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="Acciones">

                            <th mat-header-cell *matHeaderCellDef style="text-align: right;">
                                <button type="button" class="btn btn-outline-secondary" (click)="openForm(1,0)"> <i
                                        class="bi bi-plus-lg"></i> Proyecto</button> |
                                <button type="button" class="btn btn-outline-secondary" (click)="openForm(2,1)"> <i
                                        class="bi bi-plus-lg"></i> Producto</button>
                            </th>

                            <td mat-cell *matCellDef="let transaction; let i = index" style="text-align: right;">
                                <span *ngIf="(transaction.TIPO !== 'T' && transaction.TIPO !== 'V')" class="pointer"
                                    style="color: #198754;" (click)="openForm(3,i+1)" matTooltip="Detalles">
                                    <mat-icon> edit</mat-icon>
                                </span>
                                <span (click)="removeDetail(i+1)" class="pointer" style="color: #dc3545;"
                                    matTooltip="Eliminar">
                                    <mat-icon>delete</mat-icon>
                                </span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>



                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>


                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>




                    <table class="table">
                        <!--Z8-TABLA TOTALES -->
                        <thead>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr class="table-default">
                                <td colspan="4"></td>
                                <td>Sub Total </td>
                                <td class="text-right">{{subTotal |number:'1.4-4'}}</td>
                            </tr>
                            <tr class="table-default">
                                <td colspan="4"></td>
                                <td>Descuento </td>
                                <td class="text-right">{{Monto_Descuento |number:'1.4-4'}}</td>
                            </tr>

                            <tr class="table-default">
                                <td colspan="4"></td>
                                <td>IVA </td>
                                <td class="text-right">{{IVA |number:'1.4-4'}}</td>
                            </tr>
                            <tr class="table-default">
                                <td colspan="4"></td>
                                <td>TOTAL {{Moneda_simbol}}</td>
                                <td class="text-right">{{GranTotal|number:'1.4-4'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="modal-footer">
                        <button type="submit" [disabled]="AddformCotizacion.invalid"
                            class="btn btn-danger">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>