<div class="row">
    <div class="col-2">
                <br>
                <br>
    </div>
    <div *ngIf="false" class="col-lg-3 col-md-12">
        <div class="card">
            <div class="card-body mat-elevation-z3">
                <h4 class="card-title"><span class="lstick"></span>OPERACIONES</h4>
                <hr>
                <table class="table vm font-14">
                    <tr>

                        <div col="12">
                            <button class="mat-button" mat-raised-button>
                                <mat-icon>text_snippet</mat-icon>Cotizaciones
                            </button>
                        </div>
                        <div col="12">
                            <button class="mat-button" mat-raised-button>
                                <mat-icon>monetization_on</mat-icon>Licitaciones
                            </button>
                        </div>
                        <div col="12">
                            <button class="mat-button" mat-raised-button>
                                <mat-icon>list_alt</mat-icon>Reportes
                            </button>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div >
        <div class="col-lg-9 col-md-12">
            <div class="card">
                <div class="card-body mat-elevation-z3">
                    <h4 class="card-title"><span class="lstick"></span>DETALLES CLIENTE</h4>
                    <div class="div-center uploader-status" *ngIf="tools.getisLoadingDetails()">
                        <br>
                        <mat-spinner [diameter]="50"></mat-spinner>
                    </div>
                    <div *ngIf="!tools.getisLoadingDetails()">
                        <mat-tab-group animationDuration="0ms">
                            <mat-tab label="GENERALES">
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Razon Social</label>
                                        <br>
                                        <label for="" class="valor" #razon_social>{{Contacto1.razon_social}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Nombre comercial</label><br>
                                        <label for="" class="valor" #nombre>{{Contacto1.nombre_cliente}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Tipo</label>
                                        <br>
                                        <label for="" class="valor" #ruc>{{Contacto1.tipo_cliente}}</label>
                                    </div>
    
                                    <div class="col-md-6">
                                        <label for="" class="campo">Contribuyente</label>
                                        <br>
                                        <label for="" class="valor" #ruc>{{Contacto1.tipo_contribuyente}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">RUC</label>
                                        <br>
                                        <label for="" class="valor" #ruc>{{Contacto1.ruc}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Pais</label><br>
                                        <label for="" class="valor" #pais>{{Contacto1.Pais}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Departamento</label>
                                        <br>
                                        <label for="" class="valor" #departamento>{{Contacto1.Departamento}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Municipio</label><br>
                                        <label for="" class="valor" #municipio>{{Contacto1.Municipio}}</label>
                                    </div>
                                </div>
    
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Direccion</label>
                                        <br>
                                        <label for="" class="valor" #direccion>{{Contacto1.direccion_cliente}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Telefono 1</label><br>
                                        <label for="" class="valor" #telefono1>{{Contacto1.telefono1_cliente}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
    
                                    <div class="col-md-6">
                                        <label for="" class="campo">Telefono 2</label>
                                        <br>
                                        <label for="" class="valor" #telefono2>{{Contacto1.telefono2_cliente}}</label>
                                    </div>
                                </div>

                                <br>
                                
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Condicion de Pago - Plazo</label>
                                        <br>
                                        <label for="" class="valor" #CondicionPagoPlazo>{{Contacto1.CondicionPagoPlazo}}</label>
                                    </div>
                                </div>    
    
                            </mat-tab>
    
                            <mat-tab label="REPRESENTANTE LEGAL">
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Nombres</label>
                                        <br>
                                        <label for="" class="valor" #nombres_repL>{{Contacto1.nombres}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Apellidos</label><br>
                                        <label for="" class="valor" #apellidos_repL>{{Contacto1.apellidos}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Cedula</label>
                                        <br>
                                        <label for="" class="valor" #cedula_repL>{{Contacto1.cedula}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Pais</label><br>
                                        <label for="" class="valor" #pais_repL>{{Contacto1.paisCon}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Departamento</label>
                                        <br>
                                        <label for="" class="valor" #departamento_repL>{{Contacto1.departamentoCon}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Municipio</label><br>
                                        <label for="" class="valor" #municipio_repL>{{Contacto1.municipioCon}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Direccion</label>
                                        <br>
                                        <label for="" class="valor" #direccion_repL>{{Contacto1.direccion}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Correo</label><br>
                                        <label for="" class="valor" #correo_repL>{{Contacto1.correo}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Telefono 1</label>
                                        <br>
                                        <label for="" class="valor" #telefono1_repL>{{Contacto1.telefono1}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Telefono 2</label><br>
                                        <label for="" class="valor" #telefono2_repL>{{Contacto1.telefono2}}</label>
                                    </div>
                                </div>
                            </mat-tab>
    
                            <mat-tab label="RESPONSABLE DE PAGOS">
    
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Nombres</label>
                                        <br>
                                        <label for="" class="valor" #nombres_repP>{{Contacto2.nombres}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Apellidos</label><br>
                                        <label for="" class="valor" #apellidos_repP>{{Contacto2.apellidos}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Cedula</label>
                                        <br>
                                        <label for="" class="valor" #cedula_repP>{{Contacto2.cedula}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Pais</label><br>
                                        <label for="" class="valor" #pais_repP>{{Contacto2.paisCon}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Departamento</label>
                                        <br>
                                        <label for="" class="valor" #departamento_repP>{{Contacto2.departamentoCon}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Municipio</label><br>
                                        <label for="" class="valor" #municipio_repP>{{Contacto2.municipioCon}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Direccion</label>
                                        <br>
                                        <label for="" class="valor" #direccion_repP>{{Contacto2.direccion}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Correo</label><br>
                                        <label for="" class="valor" #correo_repP>{{Contacto2.correo}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <label for="" class="campo">Telefono 1</label>
                                        <br>
                                        <label for="" class="valor" #telefono1_repP>{{Contacto2.telefono1}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="campo">Telefono 2</label><br>
                                        <label for="" class="valor" #telefono2_repP>{{Contacto2.telefono2}}</label>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
    
                </div>
            </div>
        </div>

    </div>




</div>