<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body mat-elevation-z3">
                <h4 class="card-title"><span class="lstick"></span>DATOS DE AGENDA</h4>
                <div class="mat-elevation-z3" style="border-color: #0a46c7;">
                    <!--*ngIf="!tools.getisLoadingDetails()" -->                    
                    <div class="row">
                        <div class="col-2 ">
                            <label class="campo" style="margin-right: 10px;"> Codigo </label>
                            <label class="valor" #Grado> 0001-2023 </label>
                        </div>
                        <div class="col-7">
                            <label class="campo" style="margin-right: 10px;"> Descripcion de Agenda </label>
                            <label class="valor" #Nombres> Agenda a efectuarse en Crow Plaza. </label>
                        </div>
                        <div class="col-3">
                            <label class="campo" style="margin-right: 10px;"> Fecha de Agenda </label>
                            <label class="valor" #Nombres> 789 </label>
                        </div>
                    </div>                    
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Detalles de</h4>
                <div class="div-center uploader-status" *ngIf="tools.getisLoadingDetails()">
                    <br>
                    <mat-spinner [diameter]="50"></mat-spinner>
                </div>
                <mat-tab-group animationDuration="200ms" *ngIf="!tools.getisLoadingDetails()">
                    <mat-tab label="Proyectos">
                        <table mat-table #table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="UND">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> UND </th>
                                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                            </ng-container>

                            <ng-container matColumnDef="DESCRIPCION">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
                                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>


                            <ng-container matColumnDef="MONTO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> MONTO </th>
                                <div *ngIf="Master.moneda == 'USD'">
                                    <td mat-cell *matCellDef="let element"> {{element.Precio | currency}} </td>
                                </div>
                                <div *ngIf="Master.moneda == 'NIO'">
                                    <td mat-cell *matCellDef="let element"> C{{element.Precio | currency}} </td>
                                </div>
                            </ng-container>


                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" style="text-align: right;">
                                    <span (click)="openDetailsProject(element.idDetCotizacion)" class="pointer"
                                        style="color: #0a46c7;" matTooltip="Detalles">
                                        <!-- <i class="material-icons">remove_red_eye</i> -->
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </span>
                                    <span class="pointer" style="color: #198754;" matTooltip="Editar">
                                        <mat-icon>edit</mat-icon>
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Items por pagina"></mat-paginator>
                    </mat-tab>

                    <mat-tab label="Articulos">
                        <table mat-table #table [dataSource]="dataSourceArticulos" matSort>
                            <ng-container matColumnDef="CODIGO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
                                <td mat-cell *matCellDef="let element"> {{element.ARTICULO}} </td>
                            </ng-container>

                            <ng-container matColumnDef="DESCRIPCION">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
                                <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CANTIDAD">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
                                <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                            </ng-container>

                            <ng-container matColumnDef="MONTO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> MONTO </th>
                                <div *ngIf="Master.moneda == 'USD'">
                                    <td mat-cell *matCellDef="let element"> {{(element.Precio * element.Cantidad) |
                                        currency}} </td>
                                </div>
                                <div *ngIf="Master.moneda == 'NIO'">

                                    <td mat-cell *matCellDef="let element"> C{{(element.Precio * element.Cantidad) |
                                        currency}} </td>
                                </div>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" style="text-align: right;">
                                    <span class="pointer" style="color: #198754;" matTooltip="Editar">
                                        <mat-icon>edit</mat-icon>
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsArticulos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsArticulos;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Items por pagina"></mat-paginator>
                    </mat-tab>

                </mat-tab-group>
            </div>
            <div class="modal-footer">
                <button routerLink="{{id}}" type="submit" class="btn btn-outline-danger">IMPRIMIR</button>
            </div>
        </div>
    </div>
</div>