<div class="row">
    <div class="col-lg-3 col-md-12">
        <div class="card">
            <div class="card-body mat-elevation-z3">
                <h4 class="card-title"><span class="lstick"></span>DATOS GENERALES</h4>
                <hr>
                <table class="table" *ngIf="!tools.getisLoadingDetails()">
                    <!--*ngIf="!tools.getisLoadingDetails()" -->

                    <tr>
                        <td class="b-0">Cliente</td>
                        <td class="text-right">{{Master.razon_social}}</td>

                    </tr>
                    <tr>
                        <td class="b-0">No. Cotizacion</td>
                        <td class="text-right">{{Master.NumeroCotizacion}}</td>
                    </tr>
                    
                    <tr>
                        <td class="b-0">Moneda</td>
                        <td class="text-right">{{Master.moneda}}</td>
                    </tr>
                    <tr>
                        <td class="b-0">Fecha</td>
                        <td class="text-right">{{Master.fecha_registro}}</td>
                    </tr>
                    <tr>
                        <td class="b-0">Monto</td>
                        <div *ngIf="Master.moneda === 'USD'">
                            <td class="text-right"> {{Master.GranTotal|currency}}</td>
                        </div>
                        <div *ngIf="Master.moneda === 'NIO'">
                            <td class="text-right"> C{{Master.GranTotal|currency}}</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="b-0">Estado</td>
                        <td class="text-right" style="color: rgb(13, 158, 49)">{{Master.estado}}</td>
                    </tr>
                </table>

                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <span class="pointer" style="color: #198754;" matTooltip="Editar" >
                            <mat-icon>edit</mat-icon>
                        </span>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>DETALLES</h4>
                <div class="div-center uploader-status" *ngIf="tools.getisLoadingDetails()">
                    <br>
                    <mat-spinner [diameter]="50"></mat-spinner>
                </div>
                <mat-tab-group animationDuration="200ms" *ngIf="!tools.getisLoadingDetails()">
                    <mat-tab label="Proyectos">
                        <table mat-table #table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="UND">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> UND </th>
                                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                            </ng-container>

                            <ng-container matColumnDef="DESCRIPCION">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
                                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>


                            <ng-container matColumnDef="MONTO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> MONTO </th>
                                <div *ngIf="Master.moneda == 'USD'">
                                    <td mat-cell *matCellDef="let element"> {{element.Precio | currency}} </td>
                                </div>
                                <div *ngIf="Master.moneda == 'NIO'">
                                    <td mat-cell *matCellDef="let element"> C{{element.Precio | currency}} </td>
                                </div>
                            </ng-container>


                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" style="text-align: right;">
                                    <span (click)="openDetailsProject(element.idDetCotizacion)" class="pointer" style="color: #0a46c7;" matTooltip="Detalles">
                                        <!-- <i class="material-icons">remove_red_eye</i> -->
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </span>
                                    <span class="pointer" style="color: #198754;" matTooltip="Editar" >
                                        <mat-icon>edit</mat-icon>
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Items por pagina"></mat-paginator>
                    </mat-tab>

                    <mat-tab label="Articulos">
                        <table mat-table #table [dataSource]="dataSourceArticulos" matSort>
                            <ng-container matColumnDef="CODIGO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
                                <td mat-cell *matCellDef="let element"> {{element.ARTICULO}} </td>
                            </ng-container>

                            <ng-container matColumnDef="DESCRIPCION">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
                                <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CANTIDAD">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
                                <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                            </ng-container>

                            <ng-container matColumnDef="MONTO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> MONTO </th>
                                <div *ngIf="Master.moneda == 'USD'">
                                    <td  mat-cell *matCellDef="let element"> {{(element.Precio * element.Cantidad) | currency}} </td>
                                </div>
                                <div *ngIf="Master.moneda == 'NIO'">

                                <td  mat-cell *matCellDef="let element"> C{{(element.Precio * element.Cantidad) | currency}} </td>
                                </div>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" style="text-align: right;">
                                    <span class="pointer" style="color: #198754;" matTooltip="Editar" >
                                        <mat-icon>edit</mat-icon>
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsArticulos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsArticulos;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Items por pagina"></mat-paginator>
                    </mat-tab>

                </mat-tab-group>
            </div>
            <div class="modal-footer">
                <button routerLink="{{id}}" type="submit" class="btn btn-outline-danger" >IMPRIMIR</button>
            </div>
        </div>
    </div>
</div>