<div *ngIf="!isAllowed()">
    <div class="alert alert-danger">ACCESO DENEGADO</div>
</div>


<div *ngIf="isAllowed()">

    <div class="row" class="mat-elevation-z3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="lstick"></span>AGENDAS</h4>
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <a class="btn btn-liosa" href="Cotizacion/add">
                                <i class="bi bi-person-plus-fill"></i>Agendar
                            </a>
                        </div>
                    </div>

                    <div class="div-center uploader-status" *ngIf="tools.getisLoadingDetails()">
                        <br>
                        <mat-spinner [diameter]="50"></mat-spinner>
                    </div>


                    <div [hidden]="tools.getisLoadingDetails()">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field appearance="standard">
                                    <mat-label>Buscar Agenda</mat-label>
                                    <input matInput (keyup)="applyFilter($event)"
                                        placeholder="Introduzca una palabra clave" #input>
                                </mat-form-field>
                            </div>                                                
                        </div>



                        <table mat-table #table [dataSource]="dataSourceCotiza" matSort>

                            <ng-container matColumnDef="Codigo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Codidgo. </th>
                                <td mat-cell *matCellDef="let element"> {{element.Cotizacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Cliente">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                                <td mat-cell *matCellDef="let element"> {{element.Cliente}} </td>
                            </ng-container>


                            <ng-container matColumnDef="FechaEntrega">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Entrega </th>
                                <td mat-cell *matCellDef="let element"> {{element.FechaEntrega}} </td>
                            </ng-container>

                            <ng-container matColumnDef="GranTotal">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> GranTotal </th>
                                <td mat-cell *matCellDef="let element"> {{element.GranTotal}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Moneda">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda </th>
                                <td mat-cell *matCellDef="let element"> {{element.idMoneda}} </td>
                            </ng-container>


                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" style="text-align: right;">
                                    <span class="pointer" style="color: #0a46c7;" matTooltip="Detalles">
                                        <!-- <i class="material-icons">remove_red_eye</i> -->
                                        <a href="Cotizacion/{{element.idCotizacion}}">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </a>
                                    </span>
                                    <span class="pointer" style="color: #198754;" matTooltip="Editar">
                                        <mat-icon>edit</mat-icon>
                                    </span>
                                    <span class="pointer" style="color: #dc3545;" matTooltip="Eliminar">
                                        <mat-icon>delete</mat-icon>
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Items por pagina"
                            (page)="getPaginatorData($event)"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>