@import url("../../../template.css"); 
@import url("../../../Style/Generales.css"); 
mat-form-field{
    width: 100%;
}

.mat-header-Descripcion{
    width: 20% !important;
  }



  .cdk-column-Descripcion{
     
      width: 30% !important;
      margin: right 5%px; 
      
  }

  .cdk-column-Precio{
   
    width: 10% !important;
    text-align:center;
  }

