
<h1>EDIT - COTIZACIÓN</h1>

<form [formGroup]="AddformCotizacion" #formDirective="ngForm"
    (ngSubmit)="enviar(AddformCotizacion.value,formDirective)">

    <div class="row col-12">
        <div class="col-8">
            <mat-form-field appearance="legacy">
                <mat-label>Cliente(*)</mat-label>
                <mat-select formControlName="id_cliente" (selectionChange)="evento($event.value)">
                    <mat-option *ngFor="let item of list_cliente" [value]="item.id_cliente">{{item.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field appearance="legacy">
                <mat-label>Moneda(*)</mat-label>
                <mat-select formControlName="simbolo" placeholder="C$-$"
                    (selectionChange)="evento_Moneda($event.value)">
                    <mat-option *ngFor="let item of Lista_Monedas" [value]="item.MONEDA">{{item.NOMBRE}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field appearance="legacy">
                <mat-label>TipoCambio (*)</mat-label>
                <input matInput placeholder="Tipo de Cambio a dollar " formControlName="tipo_cambio" readonly>
            </mat-form-field>
        </div>

    </div>

    <div class="row col-12">
        <div class="col-2">
            <mat-form-field appearance="legacy">
                <mat-label>Fecha Cotización (*)</mat-label>
                <input matInput [matDatepicker]="pickerfecha_cotizacion" formControlName="fecha_cotizacion">
                <mat-datepicker-toggle matSuffix [for]="pickerfecha_cotizacion"></mat-datepicker-toggle>
                <mat-datepicker #pickerfecha_cotizacion></mat-datepicker>
                <!-- #enddocregion toggle -->
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field appearance="legacy">
                <mat-label>Fecha Rige</mat-label>
                <input matInput [matDatepicker]="pickerfecha_rige" placeholder="Fecha Rige"
                    formControlName="fecha_rige">
                <mat-datepicker-toggle matSuffix [for]="pickerfecha_rige"></mat-datepicker-toggle>
                <mat-datepicker #pickerfecha_rige></mat-datepicker>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field appearance="legacy">
                <mat-label>Días Plazo (*)</mat-label>
                <input matInput type="number" placeholder="Días de plazo" formControlName="dias_plazo">
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field appearance="legacy">
                <mat-label>Fecha de Entrega</mat-label>
                <input matInput [matDatepicker]="pickerfecha_entrega" placeholder="Fecha de Entrega"
                    formControlName="fecha_entrega">
                <mat-datepicker-toggle matSuffix [for]="pickerfecha_entrega"></mat-datepicker-toggle>
                <mat-datepicker #pickerfecha_entrega></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            <mat-form-field appearance="legacy">
                <mat-label>Descripción Cotización(*)</mat-label>
                <input matInput placeholder="Descripción Cotizacón" formControlName="descripcion_cotizacion">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="legacy">
                <mat-label>Observaciones(*)</mat-label>
                <input matInput placeholder="Observaciones de la Cotización " formControlName="observaciones">
            </mat-form-field>
        </div>
    </div>

    <!--Z8-TABLA GRID -->
    <table mat-table [dataSource]="dataSource">


        <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.DESCRIPCION}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.Cantidad}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container  matColumnDef="Precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.Precio}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container  matColumnDef="PrecioDollar">
            <th mat-header-cell *matHeaderCellDef> Precio $ </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.Precio$}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="Iva">
            <th mat-header-cell *matHeaderCellDef> Iva </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.Iva}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="subTotal">
            <th mat-header-cell *matHeaderCellDef> Sub Total </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.subTotal}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="subTotalDollar">
            <th mat-header-cell *matHeaderCellDef> Sub Total $ </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.subTotal$}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="Acciones">

            <th mat-header-cell *matHeaderCellDef style="text-align: right;"> 
                <button type="button" class="btn btn-outline-danger" (click)="openForm(1,0)" [disabled]="AddformCotizacion.invalid"> <i class="bi bi-plus-lg"></i> Proyecto</button> | 
                <button type="button" class="btn btn-outline-danger" (click)="openForm(2,1)"[disabled]="AddformCotizacion.invalid"> <i class="bi bi-plus-lg"></i> Producto</button>
            </th>
                 
            <td mat-cell *matCellDef="let transaction" style="text-align: right;"> <span class="pointer" style="color: #0a46c7;"
                    matTooltip="Detalles">
                    <mat-icon routerLink=""> visibility</mat-icon>
                </span>
                <span class="pointer" style="color: #dc3545;" matTooltip="Eliminar">
                    <mat-icon routerLink="">delete_forever</mat-icon>
                </span>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>




    <table class="table">
        <!--Z8-TABLA TOTALES -->
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr class="table-default">
                <td colspan="3"></td>
                <td style="font-weight: bold;">Sub Total </td>
                <td class="text-right">${{this.subtotalDollar}}</td>
                <td class="text-right">C${{this.subtotalCordoba}}</td>
            </tr>
            <tr class="table-default">
                <td colspan="3"></td>
                <td style="font-weight: bold;">Descuento </td>
                <td class="text-right">
                    <input class="text-right" (blur)="$$_Updated($event)"  [value]="DescuentoDollar" type="number" placeholder="$-Descuento" matInput>
                </td>
                    <input class="text-right" (blur)="C$_Updated($event)"  [value]="DescuentoCordoba" type="number" placeholder="C$-Descuento" matInput>
            </tr>
            <tr class="table-default">
                <td colspan="3"></td>
                <td style="font-weight: bold;">IVA </td>
                <td class="text-right">${{IVADollar}}</td>
                <td class="text-right">C${{IVACordoba}}</td>
            </tr>
            <tr class="table-default">
                <td colspan="3"></td>
                <td style="font-weight: bold;">TOTAL </td>
                <td class="text-right">${{TOTALDollar}}</td>
                <td class="text-right">C${{TOTALCordoba}}</td>
            </tr>
        </tbody>
    </table>




    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-danger" [disabled]="!isDisabled">GUARDAR</button>
    </div>
</form>