@import url("../../../template.css"); 
@import url("../../../Style/Generales.css"); 
mat-form-field{
    width: 100%;
}
.mat-column-Descripcion{
  width: 20% !important;
  text-align: center;
  padding-right: 5%;
  text-align: left;
}
.mat-column-DescripcionDeUso{
  width: 15% !important;
  padding-right: 5%;
  text-align: left;
}
  .mat-column-Cantidad{
    width: 6% !important;
    text-align: left;
  }
  .mat-column-Precio{
    width: 6% !important;
    text-align: left;
  }
  .mat-column-Total{
    width: 6% !important;
    text-align: left;
    padding-right: 5%;
  }
  
 